snippet met
public function $1($2)
{
    $3
}
endsnippet
snippet pmet
protected function $1($2)
{
    $3
}
endsnippet
snippet $
$this->$1
endsnippet
snippet testca
class $1 extends PHPUnit_Framework_TestCase
{
    $2
}
endsnippet
snippet tmet
public function test$1($2)
{
    $3
}
endsnippet
